#note {
  display: none;
  /* default to hidden */
}

#note.visible {
  display: block;
}

.scrim {
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.modal {
  --note-bg: white;
  position: fixed;
  z-index: 1;
  padding: 1.5rem 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--note-bg);
  box-shadow: 0rem 2rem 8rem -1rem rgba(0, 0, 0, 0.125);
  text-align: left;
  width: 90%;
  max-width: 36rem;
  max-height: 75vh;
  overflow-y: scroll;
  border-radius: 0.5em;
  line-height: 1.75;
  font-family: var(--font-family-monospace);
  font-size: 0.825em;
}

@media (min-width: 40em) {
  .modal {
    padding: 3rem 4rem;
  }
}

.modal > * {
  margin-top: 0;
}

.modal::-webkit-scrollbar {
  -webkit-appearance: none;
}

.modal::-webkit-scrollbar:vertical {
  width: 8px;
}

.modal::-webkit-scrollbar-thumb {
  box-sizing: content-box;
  border: 2px solid var(--note-bg);
  border-radius: 999px;
  background-color: rgba(0, 0, 0, 0.25);
}

.modal li + li {
  margin-top: 1em;
}

.modal ul,
.modal ol {
  padding-bottom: 1em;
}

.modal a:link {
  text-decoration: none;
  color: rgb(0, 74, 211);
}

.modal a:visited {
  color: blueviolet;
}

.modal a:hover {
  text-decoration: underline;
}

.modal code {
  font-family: var(--font-family-monospace);
  background-color: rgb(239, 239, 240);
  padding: 0.25em;
}
